@import 'partials/app';
@import 'partials/about';
@import 'partials/skills';
@import 'partials/projects';
@import 'partials/nav';
@import 'partials/contact';
@import 'partials/home';
@import 'partials/responsive';

@import 'https://fonts.googleapis.com/css?family=La+Belle+Aurore';


// @font-face {
//     font-family: pier;
//     src: url(fonts/pier-italic.otf);
//     font-weight: 500;
//     font-style: italic;
// }
@import 'https://fonts.googleapis.com/css?family=Quicksand:300,400';

@import 'https://fonts.googleapis.com/css?family=Reem+Kufi';

html, body, #the-mark-acosta, #content{
    margin: 0px;
    height: 100%;
	overflow:hidden;
}

body{
	// overflow: hidden;
}

#the-mark-acosta{
    overflow: hidden;
}

#content{
    padding: 8px 12px;
	padding-left:72px;
	background: #232323;

}

#particlesjs{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#load{
	position :absolute;
	top: 0;
	left: -100%;
	height: 100%;
	width: 100%;
	background: #232323; 
	color:black;
	text-align: center;
	padding-top: 50vh;
	z-index: 998;

	#load-text{
	    color: white;
	    font-family: Azedo;
	    letter-spacing: 6px;		
	}

	#load-brand{
    width: 200px;
    margin: auto;
    Position: relative;
    height: 100px;
    margin-top: -107px;
		svg{
	    display: block;
	    margin: auto;
	    position: absolute;
	    top: -31px;
	    left: 38px;
		}
	}

	#progress-bar{
		width: 300px;
		height: 10px;
		background: gray;
		display:block;
		margin:auto;

		#progress{
		    width: 0%;
		    height: 10px;
		    display: block;
		    background: #ee5b96;
		}
	}

}

#content-cover{
    position: absolute;
    top: 0;
    left: 0;
    display:none;
    background: #232323;
    height: 100%;
    width: 100%;
    z-index: 997;		
}

.rubberBand{
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
      animation-duration: 1.2s;

}

.rubberBandLight{
    -webkit-animation-name: rubberBandLight;
    animation-name: rubberBandLight;
      animation-duration: 1.2s;

}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  30% {
    -webkit-transform: scaleX(1.25) scaleY(0.75);
    transform: scaleX(1.25) scaleY(0.75);
  }

  40% {
    -webkit-transform: scaleX(0.75) scaleY(1.25);
    transform: scaleX(0.75) scaleY(1.25);
  }

  60% {
    -webkit-transform: scaleX(1.15) scaleY(0.85);
    transform: scaleX(1.15) scaleY(0.85);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  30% {
    -webkit-transform: scaleX(1.25) scaleY(0.75);
    -ms-transform: scaleX(1.25) scaleY(0.75);
    transform: scaleX(1.25) scaleY(0.75);
  }

  40% {
    -webkit-transform: scaleX(0.75) scaleY(1.25);
    -ms-transform: scaleX(0.75) scaleY(1.25);
    transform: scaleX(0.75) scaleY(1.25);
  }

  60% {
    -webkit-transform: scaleX(1.15) scaleY(0.85);
    -ms-transform: scaleX(1.15) scaleY(0.85);
    transform: scaleX(1.15) scaleY(0.85);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes rubberBandLight {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  30% {
    -webkit-transform: scaleX(1.1) scaleY(0.9);
    transform: scaleX(1.1) scaleY(0.9);
  }

  40% {
    -webkit-transform: scaleX(0.9) scaleY(1.1);
    transform: scaleX(0.9) scaleY(1.1);
  }

  60% {
    -webkit-transform: scaleX(1.05) scaleY(0.95);
    transform: scaleX(1.05) scaleY(0.95);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes rubberBandLight {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  30% {
    -webkit-transform: scaleX(1.1) scaleY(0.9);
    -ms-transform: scaleX(1.1) scaleY(0.9);
    transform: scaleX(1.1) scaleY(0.9);
  }

  40% {
    -webkit-transform: scaleX(0.9) scaleY(1.1);
    -ms-transform: scaleX(0.9) scaleY(1.1);
    transform: scaleX(0.9) scaleY(1.1);
  }

  60% {
    -webkit-transform: scaleX(1.05) scaleY(0.95);
    -ms-transform: scaleX(1.05) scaleY(0.95);
    transform: scaleX(1.05) scaleY(0.95);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes breathe {
  0% {
    -webkit-transform: scale(.97);
    transform: scale(.97);
  }

  50% {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }

  100% {
    -webkit-transform: scale(.97);
    transform: scale(.97);
  }
}

@keyframes breathe {
  0% {
    -webkit-transform: scale(.97);
    -ms-transform: scale(.97);
    transform: scale(.97);
  }

  50% {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
  }

  100% {
    -webkit-transform: scale(.97);
    -ms-transform: scale(.97);
    transform: scale(.97);
  }
}


@-webkit-keyframes breatheLight {
  0% {
    -webkit-transform: scale(.99);
    transform: scale(.99);
  }

  50% {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
  }

  100% {
    -webkit-transform: scale(.99);
    transform: scale(.99);
  }
}

@keyframes breathLight {
  0% {
    -webkit-transform: scale(.99);
    -ms-transform: scale(.99);
    transform: scale(.99);
  }

  50% {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
  }

  100% {
    -webkit-transform: scale(.99);
    -ms-transform: scale(.99);
    transform: scale(.99);
  }
}


