@import "https://fonts.googleapis.com/css?family=La+Belle+Aurore";
@import "https://fonts.googleapis.com/css?family=Quicksand:300,400";
@import "https://fonts.googleapis.com/css?family=Reem+Kufi";
#about #line {
  max-height: 80vh;
  height: 80vh; }
  #about #line > div:first-of-type {
    margin-bottom: 17px; }
  #about #line div {
    font-style: italic;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: antialiased; }
    #about #line div p {
      display: inline;
      font-weight: 600;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      font-size: 1rem;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
      display: block; }
  #about #line span {
    display: inline;
    margin-left: 5px;
    transition: .3s color ease; }
    #about #line span:hover {
      color: #6ee3ff;
      transition: .3s color ease; }
    #about #line span > span {
      font-weight: bold;
      font-style: italic;
      margin-bottom: 10px; }
#about > span {
  position: absolute;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: .9rem;
  width: 600px;
  line-height: 1.7;
  letter-spacing: px;
  text-shadow: 0px 0px; }
  #about > span#coder {
    top: calc(194px + 24vh);
    left: 130px;
    z-index: 994;
    padding-top: 23px; }
    #about > span#coder h3 {
      z-index: 994;
      position: absolute;
      top: -9px; }
    #about > span#coder span {
      display: inline-block;
      position: relative;
      color: #ee5b96;
      z-index: 993;
      cursor: pointer;
      font-weight: 600;
      width: auto; }
  #about > span#person {
    top: calc(20vh + 23px);
    left: 122px;
    z-index: 994; }
    #about > span#person #project-link {
      display: inline-block;
      position: relative;
      color: #ee5b96;
      z-index: 993;
      cursor: pointer;
      font-weight: 600;
      width: auto; }
    #about > span#person h3 {
      z-index: 994;
      position: absolute;
      top: -11px; }
#about h1 {
  font-family: pier;
  font-size: 60px;
  position: absolute;
  color: white;
  top: 7vh;
  left: 130px;
  z-index: 994;
  cursor: default; }
  #about h1 span {
    display: inline-block;
    position: relative;
    font-family: pier;
    font-size: 60px;
    /* position: absolute; */
    color: white;
    /* top: 7vh; */
    opacity: 0;
    width: auto;
    transition: color .1s ease,transform .3s ease; }
    #about h1 span:hover {
      color: #ee5b96;
      transition: color .1s ease; }
#about h3 {
  margin-bottom: -8px;
  color: #6ee3ff; }
#about #moon {
  background: white;
  height: 353px;
  width: 370px;
  display: block;
  position: absolute;
  padding-top: 20px;
  border-radius: 50%;
  z-index: 9;
  right: 48px;
  margin-top: calc(29vh - 100px); }
  #about #moon #bug-lord {
    height: 300px;
    position: absolute;
    right: 28px;
    top: 21px;
    z-index: 996;
    /* transform: scale(0.41); */
    right: -188px; }
  #about #moon #hill {
    position: absolute;
    right: -54px;
    top: 270px;
    z-index: 995;
    height: 505px;
    z-index: 995;
    right: -188px; }

#skills > div {
  height: 90vh;
  position: relative; }
  #skills > div > p {
    color: white;
    font-family: Open Sans;
    position: absolute;
    top: calc(13vh + 76px);
    width: 250px;
    left: 104px;
    z-index: 995;
    line-height: 1.4;
    font-family: 'Reem Kufi', sans-serif; }
    #skills > div > p:nth-of-type(2n + 2) {
      top: calc(27vh + 99px); }
    #skills > div > p:nth-of-type(2n + 3) {
      top: calc(31vh + 193px); }
  #skills > div .svg-container {
    transition: transform 1s ease;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  #skills > div h1 {
    font-family: pier;
    font-size: 60px;
    position: absolute;
    color: white;
    top: 7vh;
    left: 130px;
    z-index: 994;
    cursor: default; }
    #skills > div h1 span {
      display: inline-block;
      position: relative;
      font-family: pier;
      font-size: 60px;
      /* position: absolute; */
      color: white;
      /* top: 7vh; */
      opacity: 0;
      width: auto;
      transition: color .1s ease,transform .3s ease; }
      #skills > div h1 span:hover {
        color: #ee5b96;
        transition: color .1s ease; }
  #skills > div #languages {
    position: absolute;
    top: calc(7vh - 28px);
    z-index: 995;
    left: calc(379px + 7vw);
    height: 400px; }
    #skills > div #languages .chart {
      top: 300px;
      left: 500px;
      display: inline-block;
      z-index: 995;
      margin: 12px;
      text-align: center;
      width: 7vw;
      height: 400px;
      transition: transform .2s ease;
      -webkit-transition: transform .2s ease;
      transform: scale(1) translateY(0px); }
      #skills > div #languages .chart:hover {
        transition: transform .2s ease;
        -webkit-transition: transform .2s ease;
        transform: scale(1.1) translateY(-23px); }
      #skills > div #languages .chart > span {
        top: auto;
        position: absolute;
        bottom: 0;
        margin: 0 11px;
        display: block;
        vertical-align: bottom;
        left: auto; }
        #skills > div #languages .chart > span > div {
          height: 0px;
          display: inline-block;
          text-align: center;
          width: 50px;
          box-shadow: -2px 2px 8px 0px black; }
      #skills > div #languages .chart p {
        color: white;
        font-family: pier;
        font-size: .7rem;
        text-align: center;
        text-shadow: 1px 2px 2px black; }

#basics {
  z-index: 995;
  position: absolute;
  height: 200px;
  display: block;
  left: calc(365px + 7vw);
  top: calc(285px - -21vh); }
  #basics > div {
    height: 100%;
    display: inline-block;
    vertical-align: top;
    width: 130px;
    width: calc(7.2vw + 46px);
    margin: 0px;
    transition: transform .2s ease;
    -webkit-transition: transform .2s ease;
    transform: scale(1); }
    #basics > div:hover {
      transition: transform .2s ease;
      -webkit-transition: transform .2s ease;
      transform: scale(1.1); }

.fancy-blue {
  background: #61e1ff; }

.fancy-pink {
  background: #fb506e; }

.fancy-yellow {
  background: #fdea5b; }

.fancy-green {
  background: #69ff69; }

.fancy-orange {
  background: #ea8d3a; }

.fancy-red {
  background: #ff3e3e; }

.fancy-purple {
  background: #d37bff; }

.fancy-navy {
  background: #7e7bff; }

.fancy-teal {
  background: #39f3c9; }

#projects h1 {
  font-family: pier;
  font-size: 60px;
  position: absolute;
  color: white;
  top: 7vh;
  left: 130px;
  z-index: 994;
  cursor: default;
  transform: scale(1);
  -webkit-transform: scale(1);
  transition: scale .5s ease; }
  #projects h1.bottom-orbit {
    transform: scale(0);
    -webkit-transform: scale(0);
    transition: scale .5s ease; }
  #projects h1 span {
    display: inline-block;
    position: relative;
    font-family: pier;
    font-size: 60px;
    /* position: absolute; */
    color: white;
    /* top: 7vh; */
    opacity: 0;
    width: auto;
    transition: color .1s ease,transform .3s ease; }
    #projects h1 span:hover {
      color: #ee5b96;
      transition: color .1s ease; }
#projects .project {
  position: absolute;
  width: 26vw;
  height: 26vw;
  top: 31vh;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 10px 3px black inset, 0px 0px 0px 4px #e1be2c, 0px 0px 11px 3px black;
  z-index: 995;
  box-shadow: 0px 0px 0px 4px #e1be2c inset,0px 0px 10px 6px black inset; }
  #projects .project:hover > span {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transition: transform 0.3s ease; }
  #projects .project > span {
    z-index: 993;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* margin: 24px; */
    text-align: center;
    color: #6ee3ff;
    font-family: pier;
    text-shadow: -2px 2px 2px #181818;
    font-size: 2rem;
    z-index: 993;
    border-radius: 50%;
    /* margin: 60px; */
    height: 26vw;
    width: 26vw;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: transform 0.3s ease;
    cursor: pointer; }
    #projects .project > span p {
      margin-top: 42%;
      -webkit-animation-name: breathe;
      animation-name: breathe;
      animation-duration: 1.2s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }
  #projects .project h2 {
    font-family: Azedo;
    color: #ca5282;
    text-shadow: 0px 1px 2px black;
    /* position: absolute; */
    top: 0;
    left: 13px;
    background: white;
    padding: 2px 5px;
    border-radius: 2px;
    box-shadow: 0px 4px 6px 0px black;
    /* z-index: -1; */
    text-align: center;
    padding-bottom: 9px;
    background: radial-gradient(gainsboro 1%, white 58%, gray 88%, black 137%);
    background: linear-gradient(to right, black 9%, gray 13%, white 24%, white 76%, gray 87%, black 91%); }
  #projects .project.active {
    transition: left .6s ease, transform .5s ease;
    z-index: 3;
    animation: none; }
    #projects .project.active#Razu {
      transform: translateX(0vw) scale(1);
      -webkit-transform: translateX(0vw) scale(1); }
    #projects .project.active#Tell {
      transform: translateX(-60vw) scale(1);
      -webkit-transform: translateX(-60vw) scale(1); }
    #projects .project.active#VU {
      transform: translateX(-30vw) scale(1);
      -webkit-transform: translateX(-30vw) scale(1); }
  #projects .project.top-orbit {
    z-index: 2;
    animation: none; }
    #projects .project.top-orbit#Razu {
      transform: scale(0);
      -webkit-transform: scale(0); }
    #projects .project.top-orbit#Tell {
      transform: scale(0);
      -webkit-transform: scale(0); }
    #projects .project.top-orbit#VU {
      transform: scale(0);
      -webkit-transform: scale(0); }
  #projects .project.bottom-orbit {
    z-index: 1;
    animation: none; }
    #projects .project.bottom-orbit#Razu {
      transform: scale(0);
      -webkit-transform: scale(0); }
    #projects .project.bottom-orbit#Tell {
      transform: scale(0);
      -webkit-transform: scale(0); }
    #projects .project.bottom-orbit#VU {
      transform: scale(0);
      -webkit-transform: scale(0); }
  #projects .project#Razu {
    background-image: url("/assets/razu.png");
    background-size: cover;
    background-position: center;
    left: 132px;
    transition: left .6s ease, transform .5s ease;
    background-position: left; }
  #projects .project#VU {
    background-image: url("/assets/vu.png");
    background-size: cover;
    background-position: center;
    left: calc(132px + 30vw);
    transition: left .6s ease, transform .5s ease;
    background-position: left; }
  #projects .project#Tell {
    background-image: url("/assets/bean.png");
    background-size: cover;
    background-position: center;
    left: calc(132px + 60vw);
    transition: left .6s ease, transform .5s ease;
    background-position: left; }
#projects #close {
  z-index: 999;
  color: #ffffff;
  position: absolute;
  top: 3vh;
  right: 5vw;
  font-size: 1.5rem;
  font-family: pier;
  text-shadow: 1px 2px 1px black;
  background: #ca5282;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  box-shadow: 1px 1px 3px 1px black;
  text-align: center;
  transform: scale(0);
  -webkit-transform: scale(0);
  transition: transform .5s ease;
  cursor: pointer; }
  #projects #close.open {
    transform: scale(1);
    -webkit-transform: scale(1);
    transition: transform .5s ease; }
    #projects #close.open:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      transition: transform .5s ease; }

#project-container {
  -webkit-transform: translateX(100vw);
  transform: translateX(100vw);
  position: relative;
  display: block;
  z-index: 999;
  transition: transform .7s ease; }
  #project-container iframe {
    height: calc(100% - 4px);
    width: calc(100% - 4px); }
    #project-container iframe body {
      background-color: #181818 !important; }
  #project-container.enable {
    -webkit-transform: translateX(0vw);
    transform: translateX(0vw);
    transition: transform .7s ease; }

.top {
  height: 50%;
  width: 100%;
  display: block; }

.bottom {
  height: 50%;
  width: 100%;
  display: block; }

.right {
  width: 49.7%;
  float: right;
  height: 92%;
  display: inline-block;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: .3%;
  /* background-color: white; */
  margin-top: 5px; }

.left {
  width: 50%;
  float: left;
  height: 100%;
  display: inline-block; }
  .left h3 {
    font-size: 1.6rem;
    color: white;
    font-family: pier;
    margin: 0;
    color: #ca5282; }
  .left p {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4;
    margin-left: 6px; }

.top h3 {
  font-size: 1.6rem;
  color: white;
  font-family: pier;
  margin: 0;
  color: #ca5282;
  padding-left: 6px; }
.top p {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
  margin-left: 6px; }

#razu-project {
  width: 77vw;
  height: 75vh;
  overflow: hidden;
  text-align: left;
  /* margin-left: 2vw; */
  margin-top: 10vh;
  border-radius: 1px;
  box-shadow: 0px 0px 1px 3px #6ee3ff, 0px 0px 6px 3px black inset, 0px 0px 6px 3px black;
  padding: 7px;
  background: rgba(4, 4, 4, 0.35);
  display: inline-block; }
  #razu-project #slider {
    width: 312vw;
    height: 100%;
    transform: translateX(0vw); }
    #razu-project #slider .slide {
      width: 77vw;
      display: inline-block;
      height: 100%;
      padding-right: 1vw;
      vertical-align: top; }
  #razu-project #encapsulation .right {
    background-image: url("/assets/encapsulation.png"); }
  #razu-project #sockets .right {
    background-image: url("/assets/sockets.png"); }
  #razu-project #API .top {
    height: 100%;
    width: 100%;
    display: inline-block;
    width: 23%;
    vertical-align: top;
    margin-right: 2%; }
  #razu-project #API .bottom {
    height: 100%;
    width: 100%;
    display: block;
    display: inline-block;
    width: 75%; }
  #razu-project #API .top p {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4;
    margin-left: 6px; }
  #razu-project #API .top h3 {
    font-size: 1.6rem;
    color: white;
    font-family: pier;
    margin: 0;
    margin-left: 6px;
    color: #ca5282;
    margin-top: 2px;
    height: 41px;
    margin-top: 5px; }
  #razu-project #UI .right {
    background-image: url("/assets/UI.png"); }
  #razu-project #UI .bottom {
    background-image: url("/assets/profile.png");
    background-size: cover;
    background-position: left; }
  #razu-project #git .right {
    background-image: url("/assets/git.png"); }
  #razu-project #git .bottom {
    background-image: url("/assets/git1.png");
    background-size: cover;
    background-position: left; }
  #razu-project #auth .top, #razu-project #hu-api .top, #razu-project #modeling .top, #razu-project #express .top, #razu-project #immutable .top, #razu-project #webpack .top, #razu-project #firebase .top {
    height: 100%;
    width: 100%;
    display: inline-block;
    width: 23%;
    vertical-align: top;
    margin-right: 2%; }
    #razu-project #auth .top h3, #razu-project #hu-api .top h3, #razu-project #modeling .top h3, #razu-project #express .top h3, #razu-project #immutable .top h3, #razu-project #webpack .top h3, #razu-project #firebase .top h3 {
      padding-top: 8px;
      padding-left: 7px;
      color: #ca5282;
      margin-top: 5px; }
  #razu-project #auth .bottom, #razu-project #hu-api .bottom, #razu-project #modeling .bottom, #razu-project #express .bottom, #razu-project #immutable .bottom, #razu-project #webpack .bottom, #razu-project #firebase .bottom {
    height: 100%;
    width: 100%;
    display: block;
    display: inline-block;
    width: 75%; }

#indicator {
  display: block;
  height: 20px;
  /* background: red; */
  /* margin-bottom: 13px; */
  width: 77vw;
  /* height: 78vh; */
  overflow: hidden;
  text-align: left;
  margin-left: 7vw;
  margin-top: 2vh;
  border-radius: 1px;
  /* box-shadow: 0px 0px 1px 3px #6ee3ff, 0px 0px 6px 3px black inset, 0px 0px 6px 3px black; */
  padding: 7px;
  /* background: rgba(4, 4, 4, 0.35); */
  text-align: center; }
  #indicator div {
    display: inline-block;
    margin: auto; }
    #indicator div span {
      width: 15px;
      height: 15px;
      background: #fff;
      display: inline-block;
      padding: 0;
      border-radius: 50%;
      margin-left: 5px; }
      #indicator div span.active {
        background: #6ee3ff; }

#left {
  display: inline-block;
  padding-right: 3px;
  color: white;
  font-size: 1.54rem;
  margin-top: 43vh;
  cursor: pointer;
  background: #e1be2c;
  height: 34px;
  width: 37px;
  text-align: center;
  vertical-align: top;
  padding-top: 7px;
  border-radius: 50%;
  display: inline-block;
  margin-right: calc(2vw);
  margin-left: 14px;
  z-index: 999; }

#right {
  float: right;
  color: white;
  font-size: 1.54rem;
  margin-top: 43vh;
  cursor: pointer;
  margin-left: 2vw;
  background: #e1be2c;
  height: 34px;
  width: 37px;
  text-align: center;
  vertical-align: top;
  padding-top: 7px;
  padding-left: 3px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: 999;
  margin-right: 2vw;
  margin-left: 2vw; }

#actions li a {
  color: #ffffff !important; }

#breadcrumb {
  color: #c1c1c1;
  font-family: La Belle Aurore;
  font-size: 1.6rem;
  position: absolute;
  left: 100px;
  top: 0px;
  z-index: 999;
  text-transform: lowercase; }

#nav {
  background: #181818;
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 999;
  left: 0;
  text-align: center;
  min-height: 500px;
  overflow: hidden; }
  #nav #nav-container #logo {
    width: 171px;
    position: absolute;
    top: -41px;
    left: -20px;
    padding: 0;
    margin: 0; }
  #nav #nav-container #embed-back {
    top: -44px;
    left: -65px;
    height: 130px;
    /* cx: 362.6; */
    /* cy: 481.6; */
    /* r: 345.2; */
    position: absolute;
    width: 148px;
    /* z-index: 16; */
    background: #383838;
    border-radius: 100%;
    box-shadow: 4px 5px 13px #131313; }
  #nav #nav-items {
    margin-top: 36vh;
    display: block;
    position: relative; }
    #nav #nav-items li {
      height: 45px;
      position: relative;
      cursor: pointer; }
      #nav #nav-items li i.active {
        color: #6ee3ff; }
      #nav #nav-items li i {
        font-size: 1.5rem;
        display: block;
        height: 100%;
        color: #616161; }
      #nav #nav-items li span {
        font-size: .75rem;
        font-weight: 600;
        display: block;
        height: 50px;
        position: absolute;
        top: 6px;
        width: 100%;
        z-index: -1;
        color: #6ee3ff;
        font-family: pier;
        font-weight: 100; }
  #nav #socials {
    display: block;
    position: absolute;
    bottom: 0; }
    #nav #socials li {
      cursor: pointer;
      height: 40px;
      position: relative; }
      #nav #socials li:hover i {
        color: #6ee3ff;
        opacity: 1 !important; }
      #nav #socials li:hover span {
        opacity: 0 !important; }
      #nav #socials li i {
        font-size: 1.6rem;
        display: block;
        height: 100%;
        color: #616161;
        margin-left: 6px; }
  #nav ul {
    list-style: none;
    padding: 0px; }
    #nav ul li:hover a span {
      opacity: 1;
      color: #6ee3ff !important;
      transition: opacity .3s ease, color .4s ease; }
    #nav ul li:hover a i {
      opacity: 0;
      color: #6ee3ff !important;
      transition: opacity .3s ease, color .4s ease; }
    #nav ul li a {
      text-decoration: none; }
      #nav ul li a i {
        opacity: 1;
        color: #6ee3ff;
        transition: opacity .3s ease, color .4s ease;
        display: block; }
      #nav ul li a span {
        opacity: 0;
        color: #616161;
        transition: opacity .3s ease, color .4s ease; }

#contact h1 {
  font-family: pier;
  font-size: 60px;
  position: absolute;
  color: white;
  top: 7vh;
  left: 130px;
  z-index: 994;
  cursor: default; }
  #contact h1 span {
    display: inline-block;
    position: relative;
    font-family: pier;
    font-size: 60px;
    /* position: absolute; */
    color: white;
    /* top: 7vh; */
    opacity: 0;
    width: auto;
    transition: color .1s ease,transform .3s ease; }
    #contact h1 span:hover {
      color: #ee5b96;
      transition: color .1s ease; }
#contact #selfie {
  height: 100%;
  width: 48vw;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("/assets/selfie3.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  border-left: 3px solid white; }
#contact .moneyz {
  position: absolute;
  top: 30vh;
  left: 130px;
  background: #c85180;
  z-index: 995;
  padding: 2px;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.57); }
  #contact .moneyz #phone {
    color: white;
    font-family: pier;
    position: absolute;
    left: 13px;
    bottom: 1px;
    font-size: .7rem; }
  #contact .moneyz #error {
    background: #e67575;
    color: #ffffff !important;
    height: 37px !important;
    width: 200px;
    text-align: left;
    font-size: 1.2rem;
    border-radius: 2px;
    position: absolute;
    font-family: pier;
    bottom: -423px;
    left: 59px;
    transition: bottom 1s ease;
    padding: 28px 5px 36px 20px !important; }
    #contact .moneyz #error.retract {
      bottom: 123px !important;
      transition: bottom 1s ease; }
    #contact .moneyz #error.error {
      background: #e67575;
      color: #fff !important;
      bottom: 123px !important;
      transition: bottom 1s ease; }
    #contact .moneyz #error.load {
      bottom: 123px !important;
      bottom: 123px !important;
      transition: bottom 1s ease;
      background: #6ee3ff !important; }
    #contact .moneyz #error.success {
      color: white !important;
      background: #76bf64 !important;
      bottom: 123px !important;
      transition: bottom 1s ease; }
  #contact .moneyz#sms {
    left: 500px; }
  #contact .moneyz .hireus {
    background: #c85180;
    padding: 0px;
    text-align: right;
    padding: 2px; }
    #contact .moneyz .hireus button {
      display: inline-block;
      background: #232323;
      border: none;
      height: 33px;
      padding: 5px 15px;
      color: white;
      border-radius: 2px;
      box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.44);
      outline: none;
      margin: 4px;
      cursor: pointer; }
  #contact .moneyz input, #contact .moneyz textarea {
    display: block;
    background: #232323;
    border: none;
    height: 33px;
    width: 400px;
    padding: 5px 15px;
    margin-bottom: 11px;
    color: white;
    border-radius: 2px;
    box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.44);
    outline: none; }
    #contact .moneyz input:nth-of-type(3n+1):focus ~ .underline:nth-of-type(3n+1), #contact .moneyz textarea:nth-of-type(3n+1):focus ~ .underline:nth-of-type(3n+1) {
      width: 100%;
      transition: width .3s ease; }
    #contact .moneyz input:nth-of-type(3n+2):focus ~ .underline:nth-of-type(3n+2), #contact .moneyz textarea:nth-of-type(3n+2):focus ~ .underline:nth-of-type(3n+2) {
      width: 100%;
      transition: width .3s ease; }
  #contact .moneyz textarea {
    height: 230px !important; }
    #contact .moneyz textarea:focus ~ .underline:nth-of-type(3n+3) {
      width: 100% !important;
      transition: width .3s ease; }
  #contact .moneyz .underline {
    height: 2px;
    background: #ffffff;
    width: 0%;
    transition: width .3s ease;
    margin-top: -10px;
    margin-bottom: 10px; }

svg#svg1 {
  position: absolute;
  right: 25vw;
  top: 20px;
  transform: scale(1.9);
  -webkit-transform: scale(1.9);
  z-index: 9;
  outline: none; }

@-moz-document url-prefix() {
  svg#svg1 {
    right: 2vw;
    width: 600px;
    height: 800px;
    right: 10vw;
    top: -39vh;
    transform: scale(1); }

  #astronaut {
    display: block; } }
#canvas {
  position: absolute;
  left: 45px;
  outline: none;
  top: calc(59px + 34%); }

#home h2 {
  position: absolute;
  top: calc(32% - 48px);
  left: 161px;
  color: white;
  font-family: pier;
  font-weight: 600;
  font-size: 60px;
  z-index: 997;
  transition: color .1s ease; }
  #home h2 span {
    cursor: default;
    display: inline-block;
    transition: color .1s ease, transform .3s ease;
    opacity: 0; }
    #home h2 span:hover {
      color: #ee5b96;
      transition: color .1s ease; }
#home h1#crumble {
  top: 34%;
  position: absolute;
  font-size: 60px;
  font-family: pier;
  font-weight: 600;
  left: 160px;
  color: #ee5b96; }
#home h3 {
  position: absolute;
  color: white;
  top: calc(34% + 35px);
  font-size: 60px;
  left: 140px;
  font-family: pier;
  font-weight: 600;
  z-index: 997;
  transition: color .1s ease; }
  #home h3 span {
    cursor: default;
    display: inline-block;
    transition: color .1s ease,transform .3s ease;
    opacity: 0;
    text-shadow: 0px 2px 1px black; }
    #home h3 span:hover {
      color: #ee5b96;
      transition: color .1s ease; }
#home #title-under {
  position: absolute;
  top: 52.6%;
  font-family: Azedo;
  color: #f7d237;
  font-size: .8rem;
  left: 180px;
  font-weight: 100;
  letter-spacing: 6px;
  z-index: 997;
  top: calc(35% + 139px);
  /* text-shadow: 0px 3px 3px black; */ }
  #home #title-under > span:last-of-type {
    margin-left: 2px; }
#home #astronaut {
  display: block;
  top: 72px;
  right: calc(24vw + 28px);
  height: 149px;
  width: 500px;
  background-image: url("/assets/astro2.png");
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  z-index: 99; }
#home #contact-button {
  top: calc(41% + 175px);
  position: absolute;
  left: 176px;
  font-size: 2rem;
  display: block;
  width: 110px;
  border-radius: 5px;
  height: 27px;
  border: solid #ee5b96 2px;
  font-family: Azedo;
  z-index: 997;
  color: #ee5b96;
  font-weight: 600;
  text-align: center;
  font-size: 1.22rem;
  cursor: pointer; }
  #home #contact-button:hover {
    background: #ee5b96;
    color: #232323; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #home {
    /* Safari only override */ }
    #home ::i-block-chrome, #home #contact-button {
      height: auto;
      padding: 4px; } }

@media (max-width: 1215px) {
  svg#svg1 {
    right: 11vw !important; }

  #astronaut {
    right: calc(10vw + 26px) !important; }

  #person {
    font-size: 0.8rem !important;
    width: 45vw !important; }

  #basics > div {
    width: calc(6.2vw + 39px) !important; }

  .chart {
    margin: 9px 5px !important; }

  #Razu {
    left: 100px !important; }

  #Tell {
    left: calc(132px + 57vw) !important; }

  #VU {
    left: calc(132px + 27vw) !important; }

  #selfie {
    width: 41vw !important; } }
@media (max-height: 600px) and (max-width: 1200px) {
  #moon {
    right: -60px !important; }

  #person {
    font-size: 0.8rem !important;
    width: 53vw !important; } }
@media (max-width: 1000px) {
  #nav {
    background: #181818 !important;
    width: 60px !important;
    height: 100% !important;
    position: absolute !important;
    top: 0 !important;
    z-index: 999 !important;
    left: 0 !important;
    text-align: center !important;
    min-height: 500px !important;
    overflow: hidden !important;
    top: 0 !important;
    width: 100% !important;
    height: 60px !important;
    bottom: auto !important;
    min-height: 0 !important; }

  #embed-back {
    top: -44px !important;
    left: -65px !important;
    height: 130px !important;
    /* cx: 362.6!important; */
    /* cy: 481.6!important; */
    /* r: 345.2!important; */
    position: absolute !important;
    width: 148px !important;
    /* z-index: 16!important; */
    background: #383838 !important;
    border-radius: 100% !important;
    box-shadow: 4px 5px 13px #131313 !important; }

  #logo {
    width: 139px !important;
    position: absolute !important;
    top: -37px !important;
    left: -5px !important;
    padding: 0 !important;
    margin: 0 !important; }

  #nav-items {
    margin-top: 0px !important; }
    #nav-items li {
      height: 54px !important;
      position: relative !important;
      cursor: pointer !important;
      display: inline-block !important;
      margin-right: 21px !important; }

  #socials {
    /* display: block!important; */
    position: absolute !important;
    top: 0 !important;
    right: 22px !important;
    padding-top: 20px !important; }
    #socials li {
      height: 40px !important;
      display: inline-block !important;
      position: relative !important;
      /* background-color: white!important; */ }

  #astronaut, svg#svg1, #moon {
    display: none !important; }

  .moneyz {
    position: absolute !important;
    top: 29vh !important;
    left: 75px !important;
    background: #c85180 !important;
    z-index: 995 !important;
    padding: 2px !important;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.57) !important;
    width: 350px !important; }
    .moneyz input, .moneyz textarea {
      width: 313px !important; }
    .moneyz textarea {
      height: 60px !important; }

  #Razu {
    left: 68px !important; }

  #VU {
    left: calc(132px + 24vw) !important; }

  #Tell {
    left: calc(132px + 54vw) !important; }

  #projects .project:hover > span {
    transform: scale(0.8) !important;
    transition: transform 0.3s ea; }

  #project-container.enable {
    transform: translateX(2vw) !important; }

  #razu-project #auth .top, #razu-project #hu-api .top, #razu-project #modeling .top, #razu-project #express .top, #razu-project #immutable .top, #razu-project #webpack .top, #razu-project #firebase .top {
    height: 100% !important;
    width: 100% !important;
    display: inline-block !important;
    width: 23% !important;
    vertical-align: top !important;
    margin-right: 7% !important; }

  #razu-project #auth .bottom, #razu-project #hu-api .bottom, #razu-project #modeling .bottom, #razu-project #express .bottom, #razu-project #immutable .bottom, #razu-project #webpack .bottom, #razu-project #firebase .bottom {
    height: 100% !important;
    width: 100% !important;
    display: block !important;
    display: inline-block !important;
    width: 70% !important; }

  #skills #languages {
    position: absolute !important;
    top: calc(7vh - 28px) !important;
    z-index: 995 !important;
    left: calc(300px + 7vw) !important; }

  #basics {
    left: calc(293px + 7vw) !important; }

  #person {
    font-size: 0.85rem !important;
    width: 90vw !important;
    margin-top: 14px !important;
    left: 30px !important; }

  #content {
    padding-left: 0px !important;
    padding-top: 20px !important; }

  #close {
    top: 13vh !important; } }
@media (max-width: 820px) {
  #skills {
    overflow-y: auto; }
    #skills #languages {
      position: absolute !important;
      top: 82vh !important;
      z-index: 995 !important;
      /* left: calc(300px + 7vw) !important; */
      left: 0px !important; }

  .charts {
    width: 9vw !important;
    top: calc(84vh + 400px);
    position: absolute; }

  #skills #languages .chart {
    top: 300px !important;
    left: 500px !important;
    display: inline-block !important;
    z-index: 995 !important;
    margin: 12px !important;
    text-align: center !important;
    width: 11vw !important;
    height: 400px !important;
    transition: transform 0.2s ease !important;
    -webkit-transition: transform 0.2s ease !important;
    transform: scale(1) translateY(0px) !important; }

  #skills > div > p {
    color: white !important;
    font-family: Open Sans !important;
    position: absolute !important;
    width: 80vw !important;
    left: 40px !important; }

  #basics {
    top: calc(84vh + 400px) !important;
    position: absolute !important;
    left: 0 !important; }
    #basics div {
      width: 17vw !important; }

  #skills h1 {
    font-family: pier !important;
    font-size: 60px !important;
    position: absolute !important;
    color: white !important;
    top: 7vh !important;
    left: 40px !important; } }
@media (max-width: 500px) {
  #project-container {
    top: 40px !important; }

  #razu-project {
    margin-top: 1vh !important; }

  #line {
    max-height: calc(89vh - 137px) !important;
    overflow-y: auto;
    position: relative;
    overflow-x: visible; }

  #nav #nav-items li {
    height: 45px !important;
    position: relative !important;
    cursor: pointer !important;
    /* width: 28px!important; */ }
    #nav #nav-items li:first-of-type {
      margin-left: 31px !important; }

  #home h3 {
    position: absolute !important;
    color: white !important;
    top: calc(34vh + 46px) !important;
    font-size: 60px !important;
    left: 140px !important;
    font-family: pier !important;
    font-weight: 600 !important;
    z-index: 997 !important;
    overflow-wrap: break-word !important;
    left: calc(14% - 18px) !important;
    transition: color 0.1s ease !important;
    line-height: 1 !important; }

  #home h2 {
    position: absolute !important;
    top: calc(32vh - 48px) !important;
    left: 57px !important;
    color: white !important;
    font-family: pier !important;
    font-weight: 600 !important;
    font-size: 60px !important;
    z-index: 997 !important;
    transition: color 0.1s ease; }

  #home #title-under {
    position: absolute !important;
    top: 52.6vh !important;
    font-family: Azedo !important;
    color: #f7d237 !important;
    font-size: 0.8rem !important;
    left: 180px !important;
    font-weight: 100 !important;
    letter-spacing: 6px !important;
    z-index: 997 !important;
    width: 80% !important;
    left: 12% !important;
    top: calc(49vh + 139px) !important;
    /* text-shadow: 0px 3px 3px black!important; */ }

  #home #contact-button {
    top: calc(41vh + 140px) !important; }

  #about h1 {
    font-family: pier !important;
    font-size: 60px !important;
    position: absolute !important;
    color: white !important;
    top: 7vh !important;
    left: 34px !important;
    z-index: 994 !important;
    cursor: default !important; }

  #skills #languages {
    position: absolute !important;
    top: 72vh !important;
    z-index: 995 !important;
    /* left: calc(300px + 7vw) !important; */
    left: 0px !important; }
    #skills #languages .charts {
      width: 9vw !important; }

  #skills #languages .chart {
    top: 300px !important;
    left: 500px !important;
    display: inline-block !important;
    z-index: 995 !important;
    margin: 12px !important;
    text-align: center !important;
    width: 11vw !important;
    height: 400px !important;
    transition: transform 0.2s ease !important;
    -webkit-transition: transform 0.2s ease !important;
    transform: scale(1) translateY(0px) !important; }

  #basics > div {
    height: 96px !important;
    display: inline-block !important;
    vertical-align: top !important;
    width: 130px !important;
    width: 30vw !important;
    margin: 0px !important;
    transition: transform 0.2s ease !important;
    -webkit-transition: transform 0.2s ease !important;
    transform: scale(1) !important; }

  #basics {
    /* z-index: 995!important; */
    position: absolute !important;
    height: 200px !important;
    display: block !important;
    width: 100% !important;
    left: calc(365px + 7vw) !important;
    top: calc(137vh) !important;
    left: 0px !important; }

  #skills > div > p {
    color: white !important;
    font-family: Open Sans !important;
    position: absolute !important;
    width: 250px !important;
    left: 40px !important; }

  #skills h1 {
    font-family: pier !important;
    font-size: 60px !important;
    position: absolute !important;
    color: white !important;
    top: 7vh !important;
    left: 40px !important; }

  #projects .project {
    position: static !important;
    width: 26vw !important;
    height: 26vw !important;
    margin-bottom: 35px !important;
    margin: auto !important;
    margin-bottom: 33px !important; }

  #projects {
    top: 29vh !important;
    position: absolute !important;
    left: 1% !important;
    display: block !important;
    width: 100% !important; }
    #projects h1 {
      text-align: center !important;
      width: 100% !important;
      text-align: center !important;
      left: 0 !important;
      top: -25vh !important; }
    #projects .project h3 {
      box-shadow: none !important; }

  #left, #right {
    display: none !important; }

  #razu-project {
    width: 77vw !important;
    height: 75vh !important;
    overflow: hidden !important;
    text-align: left !important;
    margin-left: 2vw !important;
    margin-top: -18vh !important;
    border-radius: 1px !important;
    box-shadow: 0px 0px 1px 3px #6ee3ff, 0px 0px 6px 3px black inset, 0px 0px 6px 3px black !important;
    padding: 7px !important;
    background: rgba(4, 4, 4, 0.35) !important;
    display: inline-block !important;
    margin-left: 10% !important; }

  #contact #selfie {
    height: 100% !important;
    width: 48vw !important;
    position: absolute !important;
    top: 0 !important;
    opacity: 0 !important; }

  .moneyz {
    position: absolute !important;
    top: 29vh !important;
    left: 11% !important; }

  #contact h1 {
    font-family: pier !important;
    font-size: 60px !important;
    position: absolute !important;
    color: white !important;
    top: 7vh !important;
    /* left: 130px!important; */
    z-index: 994 !important;
    cursor: default !important;
    width: 100% !important;
    left: 0 !important;
    text-align: center !important; }

  #home h1#crumble {
    top: 34vh !important;
    position: absolute !important;
    font-size: 60px !important;
    font-family: pier !important;
    font-weight: 600 !important;
    color: #ee5b96 !important;
    width: 75% !important;
    left: 55px !important; }

  #canvas {
    display: none !important; }

  #projects .proejects#Razu {
    margin-bottom: 33px !important; } }
@media (max-width: 380px) {
  #home h1#crumble {
    left: 36px !important;
    width: 75% !important; }

  #home h2 {
    left: 38px !important; }

  #skills {
    overflow-y: auto; }

  #skills #languages .chart > span > div {
    display: inline-block !important;
    text-align: center !important;
    width: 34px !important; }

  #skills #languages .chart {
    width: 7vw !important; }

  #languages {
    top: 88vh !important; }

  #basics {
    top: calc(145vh) !important; }

  #projects {
    top: 21vh !important;
    position: absolute !important;
    left: 3% !important;
    padding-top: 13vh; }
    #projects h1 {
      top: -14vh !important; }
    #projects h2 {
      font-family: Azedo !important;
      color: #ca5282 !important;
      text-shadow: 0px 1px 2px black !important;
      /* position: absolute!important; */
      top: 0 !important;
      left: 13px !important;
      background: white !important;
      padding: 2px 5px !important;
      border-radius: 2px !important;
      box-shadow: 0px 4px 6px 0px black !important;
      /* z-index: -1!important; */
      text-align: center !important;
      padding-bottom: 9px !important;
      background: radial-gradient(gainsboro 1%, white 58%, gray 88%, black 137%) !important;
      background: white !important; }

  .project#Razu project#Razu {
    background-image: url("/assets/razu.png") !important;
    background-size: cover !important;
    background-position: center !important;
    left: 132px !important;
    transition: left 0.6s ease, transform 0.5s ease !important;
    background-position: left !important; }

  #nav #nav-items {
    margin-top: 0vh !important;
    display: block !important;
    padding-left: 57px !important; }

  #socials {
    display: none !important; }

  .moneyz {
    position: absolute !important;
    top: 29vh !important;
    left: 5px !important;
    background: #c85180 !important;
    z-index: 995 !important;
    padding: 2px !important;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.57) !important;
    width: 90vw !important; }

  .moneyz input, .moneyz textarea {
    width: 80vw !important; }

  .moneyz textarea {
    height: 30vh; } }
html, body, #the-mark-acosta, #content {
  margin: 0px;
  height: 100%;
  overflow: hidden; }

#the-mark-acosta {
  overflow: hidden; }

#content {
  padding: 8px 12px;
  padding-left: 72px;
  background: #232323; }

#particlesjs {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

#load {
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background: #232323;
  color: black;
  text-align: center;
  padding-top: 50vh;
  z-index: 998; }
  #load #load-text {
    color: white;
    font-family: Azedo;
    letter-spacing: 6px; }
  #load #load-brand {
    width: 200px;
    margin: auto;
    Position: relative;
    height: 100px;
    margin-top: -107px; }
    #load #load-brand svg {
      display: block;
      margin: auto;
      position: absolute;
      top: -31px;
      left: 38px; }
  #load #progress-bar {
    width: 300px;
    height: 10px;
    background: gray;
    display: block;
    margin: auto; }
    #load #progress-bar #progress {
      width: 0%;
      height: 10px;
      display: block;
      background: #ee5b96; }

#content-cover {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background: #232323;
  height: 100%;
  width: 100%;
  z-index: 997; }

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s; }

.rubberBandLight {
  -webkit-animation-name: rubberBandLight;
  animation-name: rubberBandLight;
  animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s; }

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  30% {
    -webkit-transform: scaleX(1.25) scaleY(0.75);
    transform: scaleX(1.25) scaleY(0.75); }
  40% {
    -webkit-transform: scaleX(0.75) scaleY(1.25);
    transform: scaleX(0.75) scaleY(1.25); }
  60% {
    -webkit-transform: scaleX(1.15) scaleY(0.85);
    transform: scaleX(1.15) scaleY(0.85); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes rubberBand {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  30% {
    -webkit-transform: scaleX(1.25) scaleY(0.75);
    -ms-transform: scaleX(1.25) scaleY(0.75);
    transform: scaleX(1.25) scaleY(0.75); }
  40% {
    -webkit-transform: scaleX(0.75) scaleY(1.25);
    -ms-transform: scaleX(0.75) scaleY(1.25);
    transform: scaleX(0.75) scaleY(1.25); }
  60% {
    -webkit-transform: scaleX(1.15) scaleY(0.85);
    -ms-transform: scaleX(1.15) scaleY(0.85);
    transform: scaleX(1.15) scaleY(0.85); }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes rubberBandLight {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  30% {
    -webkit-transform: scaleX(1.1) scaleY(0.9);
    transform: scaleX(1.1) scaleY(0.9); }
  40% {
    -webkit-transform: scaleX(0.9) scaleY(1.1);
    transform: scaleX(0.9) scaleY(1.1); }
  60% {
    -webkit-transform: scaleX(1.05) scaleY(0.95);
    transform: scaleX(1.05) scaleY(0.95); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes rubberBandLight {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  30% {
    -webkit-transform: scaleX(1.1) scaleY(0.9);
    -ms-transform: scaleX(1.1) scaleY(0.9);
    transform: scaleX(1.1) scaleY(0.9); }
  40% {
    -webkit-transform: scaleX(0.9) scaleY(1.1);
    -ms-transform: scaleX(0.9) scaleY(1.1);
    transform: scaleX(0.9) scaleY(1.1); }
  60% {
    -webkit-transform: scaleX(1.05) scaleY(0.95);
    -ms-transform: scaleX(1.05) scaleY(0.95);
    transform: scaleX(1.05) scaleY(0.95); }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes breathe {
  0% {
    -webkit-transform: scale(0.97);
    transform: scale(0.97); }
  50% {
    -webkit-transform: scale(1.03);
    transform: scale(1.03); }
  100% {
    -webkit-transform: scale(0.97);
    transform: scale(0.97); } }
@keyframes breathe {
  0% {
    -webkit-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97); }
  50% {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03); }
  100% {
    -webkit-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97); } }
@-webkit-keyframes breatheLight {
  0% {
    -webkit-transform: scale(0.99);
    transform: scale(0.99); }
  50% {
    -webkit-transform: scale(1.02);
    transform: scale(1.02); }
  100% {
    -webkit-transform: scale(0.99);
    transform: scale(0.99); } }
@keyframes breathLight {
  0% {
    -webkit-transform: scale(0.99);
    -ms-transform: scale(0.99);
    transform: scale(0.99); }
  50% {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02); }
  100% {
    -webkit-transform: scale(0.99);
    -ms-transform: scale(0.99);
    transform: scale(0.99); } }

/*# sourceMappingURL=mark.css.map */
