#projects{
  h1{
      font-family: pier;
      font-size: 60px;
      position: absolute;
      color: white;
      top: 7vh;
      left: 130px;
      z-index: 994;
      cursor:default;
  	  transform: scale(1);
      -webkit-transform: scale(1);
  	  transition: scale .5s ease;
      &.bottom-orbit{
  	  transform: scale(0);
      -webkit-transform: scale(0);
      	transition: scale .5s ease;
      } 
      span{
        display: inline-block;
        position: relative;
        font-family: pier;
        font-size: 60px;
        /* position: absolute; */
        color: white;
        /* top: 7vh; */
        opacity: 0;   
        width: auto;        
        transition: color .1s ease,transform .3s ease;  
      // transform: translateX(-600px);

        &:hover{
          color: #ee5b96;
          transition: color .1s ease; 
        } 
      }       
	}



	.project{
	    position: absolute;
	    width: 26vw;
	    height: 26vw;
	    top: 31vh;
	    border-radius: 50%;
	    overflow:hidden;
	    box-shadow: 0px 0px 10px 3px black inset, 0px 0px 0px 4px #e1be2c, 0px 0px 11px 3px black;
	    z-index: 995;
    	box-shadow: 0px 0px 0px 4px #e1be2c inset,0px 0px 10px 6px black inset;
    	&:hover{
			    // -webkit-animation-name: breatheLight;
			    // animation-name: breatheLight;
		     //  	animation-duration: 1.2s;	   
		     //  	-webkit-animation-iteration-count: infinite; 	
		     //  	animation-iteration-count: infinite; 	    		
    		& > span{
			    transform: scale(1.1);
			    -webkit-transform: scale(1.1);
			    transition: transform 0.3s ease;    			
    		}
    	}

    	& > span{
			z-index: 993;
		    position: absolute;
		    top: 0;
		    left: 0;
		    height: 100%;
		    width: 100%;
		    // background: rgba(110, 227, 255, 0.81);
		    /* margin: 24px; */
		    text-align: center;
		    color: #6ee3ff;
		    font-family: pier;
		    text-shadow: -2px 2px 2px #181818;
		    font-size: 2rem;
		    z-index: 993;
		    border-radius: 50%;
		    /* margin: 60px; */
		    height: 26vw;
		    // box-shadow: 0px 0px 0px 4px #e1be2c inset;
		    width: 26vw;    	
		    -webkit-transform: scale(0);
		    transform: scale(0);
		    transition: transform 0.3s ease;
		    cursor: pointer;		    	
		    p{
    			margin-top: 42%;	
			    -webkit-animation-name: breathe;
			    animation-name: breathe;
		      	animation-duration: 1.2s;	   
		      	-webkit-animation-iteration-count: infinite; 	
		      	animation-iteration-count: infinite; 	
		    }
    	}
	    h2{
		    font-family: Azedo;
		    color: #ca5282;
		    text-shadow: 0px 1px 2px black;
		    /* position: absolute; */
		    top: 0;
		    left: 13px;
		    background: rgb(255, 255, 255);
		    padding: 2px 5px;
		    border-radius: 2px;
		    box-shadow: 0px 4px 6px 0px black;
		    /* z-index: -1; */
		    text-align: center;
		    padding-bottom: 9px;
			background: radial-gradient(gainsboro 1%, white 58%, gray 88%, black 137%);		    
		    background: linear-gradient(to right,black 9%, gray 13%,white 24%,white 76%,gray 87%, black 91%);
	    }

	    &.active{
   //  		left: 150px!important;	 
    		transition: left .6s ease, transform .5s ease;   				
			z-index: 3;
			animation: none;

	    	&#Razu{
	    		transform: translateX(0vw) scale(1);
	    		-webkit-transform: translateX(0vw) scale(1);
	    	}

	    	&#Tell{
	    		transform: translateX(-60vw) scale(1);	    		
	    		-webkit-transform: translateX(-60vw) scale(1);	    		
	    	}

	    	&#VU{
	    		transform: translateX(-30vw) scale(1);	    		
	    		-webkit-transform: translateX(-30vw) scale(1);	    		
	    	}				
	    }

	    &.top-orbit{
	    	z-index: 2;
	    	animation: none;

	    	&#Razu{
	    		transform: scale(0);
	    		-webkit-transform: scale(0);
	    	}

	    	&#Tell{
	    		transform: scale(0);
	    		-webkit-transform: scale(0);

	    	}

	    	&#VU{
	    		transform: scale(0);	 
	    		-webkit-transform: scale(0);

	    	}	    		    	
   	
	    }

	    &.bottom-orbit{
	    	z-index:1;
	    	animation: none;

	    	&#Razu{
	    		transform: scale(0);
	    		-webkit-transform: scale(0);

	    	}

	    	&#Tell{
	    		transform: scale(0);	    	
	    		-webkit-transform: scale(0);

	    	}

	    	&#VU{
	    		transform: scale(0);	
	    		-webkit-transform: scale(0);

	    	}		    	
      			    	
	    }

		&#Razu{
			background-image:url('/assets/razu.png');
			background-size: cover;
			background-position:center;
			left: 132px;
    		transition: left .6s ease, transform .5s ease;
    		background-position: left;    		   				
		}

		&#VU{
			background-image:url('/assets/vu.png');
			background-size: cover;
			background-position:center;
			left: calc(132px + 30vw);
    		transition: left .6s ease, transform .5s ease;
    		background-position: left;    		   				
		}

		&#Tell{
			background-image:url('/assets/bean.png');
			background-size: cover;
			background-position:center;
			left: calc(132px + 60vw);
    		transition: left .6s ease, transform .5s ease;
    		background-position: left;    		   				

		}				
	}
	#close{
	    z-index: 999;
	    color: #ffffff;
	    position: absolute;
	    top: 3vh;
	    right: 5vw;
	    font-size: 1.5rem;
	    font-family: pier;
	    text-shadow: 1px 2px 1px black;
	    background: #ca5282;
	    height: 36px;
	    width: 36px;
	    border-radius: 50%;
	    box-shadow: 1px 1px 3px 1px black;
	    text-align: center;
		transform: scale(0);
		-webkit-transform: scale(0);

		transition: transform .5s ease;
		cursor:pointer;


		&.open{
			transform: scale(1);
			-webkit-transform: scale(1);
			transition: transform .5s ease;			
			&:hover{
				-webkit-transform: scale(1.1);
				transform: scale(1.1);
				transition: transform .5s ease;			
			}
		}

	}
}

#project-container{
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
    position: relative;
    display: block;	
    z-index: 999;
	transition: transform .7s ease;

	iframe{
	    height: calc(100% - 4px);
	    width: calc(100% - 4px);

	    body{
    		background-color: #181818!important;
		}
	
	}

    &.enable{
    	-webkit-transform: translateX(0vw);
    	transform: translateX(0vw);
    	transition: transform .7s ease;
    }
}


.top{

	height: 50%;
	width: 100%;
	display: block;
}
.bottom{
	height: 50%;
	width: 100%;
	display: block;	
}

.right{
    width: 49.7%;
    float: right;
    height: 92%;
    display: inline-block;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: .3%;
    /* background-color: white; */
    margin-top: 5px;
}

.left{
	width:50%;
	float:left;
	height: 100%;
	display: inline-block;

	h3{
	    font-size: 1.6rem;
	    color: white;
	    font-family: pier;
	    margin: 0;	
	    color: #ca5282;

	}
	p{
	    color: white;
	    font-family: 'Quicksand', sans-serif;
	    font-size: 1rem;
	    font-weight: 600;
	    line-height: 1.4;
	    margin-left: 6px;	
	}
}

.top{
	h3{
	    font-size: 1.6rem;
	    color: white;
	    font-family: pier;
	    margin: 0;
	    color: #ca5282;
    	padding-left: 6px;	    

	}
	p{
	    color: white;
	    font-family: 'Quicksand', sans-serif;
	    font-size: 1rem;
	    font-weight: 600;
	    line-height: 1.4;
	    margin-left: 6px;	
	}	
}
#razu-project{
    width: 77vw;
    height: 75vh;
    overflow: hidden;
    text-align: left;
    /* margin-left: 2vw; */
    margin-top: 10vh;
    border-radius: 1px;
    box-shadow: 0px 0px 1px 3px #6ee3ff, 0px 0px 6px 3px black inset, 0px 0px 6px 3px black;
    padding: 7px;
    background: rgba(4, 4, 4, 0.35);
    display: inline-block;

	#slider{
		width:312vw;
		height: 100%;
		transform: translateX(0vw);

		.slide{
		    width: 77vw;
		    display: inline-block;
		    height: 100%;
		    padding-right: 1vw;
    		vertical-align: top;		    
		}
	}

	#encapsulation{
		.right{
			background-image:url('/assets/encapsulation.png');
		}
	}

	#sockets{
		.right{
			background-image:url('/assets/sockets.png');
		}
	}

	#API{
		.top{
		    height: 100%;
		    width: 100%;
		    display: inline-block;
		    width: 23%;
		    vertical-align: top;
		    margin-right: 2%;			
		}

		.bottom{
		    height: 100%;
		    width: 100%;
		    display: block;
		    display: inline-block;
		    width: 75%;			
		}

		.top{
			p{
			    color: white;
			    font-family: 'Quicksand', sans-serif;
			    font-size: 1rem;
			    font-weight: 600;
			    line-height: 1.4;
			    margin-left: 6px;				
			}

			h3{
			    font-size: 1.6rem;
			    color: white;
			    font-family: pier;
			    margin: 0;
			    margin-left: 6px;
			    color: #ca5282;
			    margin-top: 2px;
			    height: 41px;
		        margin-top: 5px;

			}			
		}
	}

	#UI{
		.right{
			background-image:url('/assets/UI.png');
		}
		.bottom{
			background-image:url('/assets/profile.png');
			background-size: cover;
		    background-position: left;			
		}
	}			
	#git{
		.right{
			background-image:url('/assets/git.png');
		}
		.bottom{
			background-image:url('/assets/git1.png');
			background-size: cover;
		    background-position: left;			
		}
	}	

	#auth, #hu-api, #modeling, #express, #immutable, #webpack, #firebase{
		.top{
		    height: 100%;
		    width: 100%;
		    display: inline-block;
		    width: 23%;
		    vertical-align: top;
		    margin-right: 2%;

		    h3{
			    padding-top: 8px;
			    padding-left: 7px;	
			    color: #ca5282;
    			margin-top: 5px;			    

		    }			
		}

		.bottom{
		    height: 100%;
		    width: 100%;
		    display: block;
		    display: inline-block;
		    width: 75%;			
		}
	}

	#hu-api{

	}

	#express{

	}

	#modeling{

		.bottom{
	
		}
	}				
}

#indicator{
    display: block;
    height: 20px;
    /* background: red; */
    /* margin-bottom: 13px; */
    width: 77vw;
    /* height: 78vh; */
    overflow: hidden;
    text-align: left;
    margin-left: 7vw;
    margin-top: 2vh;
    border-radius: 1px;
    /* box-shadow: 0px 0px 1px 3px #6ee3ff, 0px 0px 6px 3px black inset, 0px 0px 6px 3px black; */
    padding: 7px;
    /* background: rgba(4, 4, 4, 0.35); */
    text-align: center;
    div{
    	display: inline-block;
    	margin:auto;
    	span{
		    width: 15px;
		    height: 15px;
			background: #fff;
		    display: inline-block;
		    padding: 0;
		    border-radius: 50%;
		    margin-left: 5px;

		    &.active{
				background: #6ee3ff;		    	
		    }
    	}
    }	
}

#left{

    display: inline-block;
    padding-right: 3px;
    color: white;
    font-size: 1.54rem;
    margin-top: 43vh;
    cursor: pointer;
    background: #e1be2c;
    height: 34px;
    width: 37px;
    text-align: center;
    vertical-align: top;
    padding-top: 7px;
    border-radius: 50%;
    display: inline-block;
    margin-right: calc(2vw);
    margin-left: 14px;
    z-index: 999;
}

#right{
	float: right;
    color: white;
    font-size: 1.54rem;
    margin-top: 43vh;
    cursor: pointer;
    margin-left: 2vw;
    background: #e1be2c;
    height: 34px;
    width: 37px;
    text-align: center;
    vertical-align: top;
    padding-top: 7px;
    padding-left: 3px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    z-index: 999;
    margin-right: 2vw;
    margin-left: 2vw;
}

#actions li a{
    color: #ffffff!important;	
}