@media(max-width: 1215px){
	svg#svg1{
		right: 11vw!important;
	}

	#astronaut{
		right: calc(10vw + 26px)!important;
	}

	#person{
	    font-size: .8rem!important;
    	width: 45vw!important;
	}



	#basics >div{
    	width: calc(6.2vw + 39px)!important;
	}

	.chart{
		margin: 9px 5px!important;		
	}

	#Razu{
		left: 100px!important;		
	}

	#Tell{
	    left: calc(132px + 57vw)!important;
	}
	

	#VU{
    	left: calc(132px + 27vw)!important;
	}

	#selfie{
		width: 41vw!important;		
	}
}

@media (max-height: 600px) and (max-width: 1200px){
	#moon{
		right: -60px!important;
	}
		#person{
	    font-size: .8rem!important;
    	width: 53vw!important;
	}
}


@media (max-width: 1000px){
	#nav{
	    background: #181818!important;
	    width: 60px!important;
	    height: 100%!important;
	    position: absolute!important;
	    top: 0!important;
	    z-index: 999!important;
	    left: 0!important;
	    text-align: center!important;
	    min-height: 500px!important;
	    overflow: hidden!important;
	    top: 0!important;
	    width: 100%!important;
	    height: 60px!important;
	    bottom: auto!important;
	    min-height: 0!important;		
	}

	#embed-back{
	    top: -44px!important;
	    left: -65px!important;
	    height: 130px!important;
	    /* cx: 362.6!important; */
	    /* cy: 481.6!important; */
	    /* r: 345.2!important; */
	    position: absolute!important;
	    width: 148px!important;
	    /* z-index: 16!important; */
	    background: #383838!important;
	    border-radius: 100%!important;
	    box-shadow: 4px 5px 13px #131313!important;		
	}

	#logo{
	    width: 139px!important;
	    position: absolute!important;
	    top: -37px!important;
	    left: -5px!important;
	    padding: 0!important;
	    margin: 0!important;		
	}

	#nav-items{
		margin-top:0px!important;
		li{
		    height: 54px!important;
		    position: relative!important;
		    cursor: pointer!important;
		    display: inline-block!important;
		    margin-right: 39px!important;
		    padding-top: 10px!important;
		    margin-top: -10px!important;
			
		}
	}

	#socials{
	    /* display: block!important; */
	    position: absolute!important;
	    top: 0!important;
	    right: 22px!important;
	    padding-top: 20px!important;	
	    li{
		    height: 40px!important;
		    display: inline-block!important;
		    position: relative!important;
		    /* background-color: white!important; */	    	
	    }	
	}

	#astronaut, svg#svg1, #moon{
		display: none!important;

	}

	.moneyz{
		position: absolute!important;
	    top: 29vh!important;
	    left: 75px!important;
	    background: #c85180!important;
	    z-index: 995!important;
	    padding: 2px!important;
	    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.57)!important;
	    width: 350px!important;	

	    input, textarea{
			width: 313px!important;	    	
	    }	

	    textarea{
	    	height:60px!important;
	    }
	}

	#Razu{
		left: 68px!important;
	}

	#VU{
    	left: calc(132px + 24vw) !important;		
	}

	#Tell{
    	left: calc(132px + 54vw) !important;		
	}

	#projects .project:hover > span {
	    transform: scale(.8)!important;
	    transition: transform 0.3s ea
	}	

	#project-container.enable {
	    transform: translateX(2vw)!important;
    }
	#razu-project #auth .top, #razu-project #hu-api .top, #razu-project #modeling .top, #razu-project #express .top, #razu-project #immutable .top, #razu-project #webpack .top, #razu-project #firebase .top {
	    height: 100%!important;
	    width: 100%!important;
	    display: inline-block!important;
	    width: 23%!important;
	    vertical-align: top!important;
	    margin-right: 7%!important;
	}    	

	#razu-project #auth .bottom, #razu-project #hu-api .bottom, #razu-project #modeling .bottom, #razu-project #express .bottom, #razu-project #immutable .bottom, #razu-project #webpack .bottom, #razu-project #firebase .bottom {
	    height: 100%!important;
	    width: 100%!important;
	    display: block!important;
	    display: inline-block!important;
	    width: 70%!important;
	}	

	#skills #languages {
	    position: absolute!important;
	    top: calc(7vh - 28px)!important;
	    z-index: 995!important;
	    left: calc(300px + 7vw)!important;	
	}

	#basics{
    	left: calc(293px + 7vw)!important;		
	}

	#person {
		font-size: 0.85rem !important;
	    width: 90vw !important;
	    margin-top: 14px!important;
        left: 30px!important;
	}

	#content{
	    padding-left: 0px!important;
	    padding-top: 20px!important;		
	}

	#close{
    	top: 13vh;		
	}
}