#skills{

	& > div{
		height: 90vh;
		position: relative;
		& > p{
		    color: white;
		    font-family: Open Sans;
		    position: absolute;
		    top: calc(13vh + 76px);
		    width: 250px;
		    left: 104px;
	        z-index: 995;
		    line-height: 1.4;
		    font-family: 'Reem Kufi', sans-serif;	
		    
		    &:nth-of-type(2n + 2){
	    		top: calc(27vh + 99px);
		    }	

		    &:nth-of-type(2n + 3){
	    		top: calc(31vh + 193px);
		    }		    
		}
		.svg-container{
		    transition: transform 1s ease;
		    -webkit-transform: rotate(180deg);		
		    transform: rotate(180deg);		
		}
		h1{
			font-family: pier;
		    font-size: 60px;
		    position: absolute;
		    color: white;
		    top: 7vh;
		    left: 130px;
			z-index: 994;
			cursor:default;	 
		    span{
			    display: inline-block;
			    position: relative;
			    font-family: pier;
			    font-size: 60px;
			    /* position: absolute; */
			    color: white;
			    /* top: 7vh; */
				opacity: 0;   
			    width: auto;	    	
				transition: color .1s ease,transform .3s ease;	
				// transform: translateX(-600px);

	    		&:hover{
	    			color: #ee5b96;
	    			transition: color .1s ease;	
	    		}	
	    	}
		}	

		#languages{
		    position: absolute;
		    top: calc(7vh - 28px);	    
		    z-index: 995;
	    	left: calc(379px + 7vw);
		    height: 400px;

			.chart{
				top: 300px;
			    left: 500px;
			    display: inline-block;
			    z-index: 995;
			    margin: 12px;
			    text-align: center;
			    width: 7vw;
			    height: 400px;
		    	transition: transform .2s ease;
		    	-webkit-transition: transform .2s ease;
				transform: scale(1) translateY(0px);

			    &:hover{
		    	transition: transform .2s ease;
		    	-webkit-transition: transform .2s ease;
					transform: scale(1.1) translateY(-23px);

			    }
				
				& > span{
				    top: auto;
				    position: absolute;
				    bottom: 0;
				    margin: 0 11px;
				    display: block;
				    vertical-align: bottom;
				    left: auto;		
		    		
				    & > div{
					    height: 0px;
					    display: inline-block;
					    text-align: center;
					    width: 50px;
					    box-shadow: -2px 2px 8px 0px black; 
				    }
				}		    
			    p{
				    color: white;
				    font-family: pier;
				    font-size: .7rem;
				    text-align: center;
				    text-shadow: 1px 2px 2px black;	
			    }	
			}
		}
	}
}

#basics{
    z-index: 995;
    position: absolute;
    height: 200px;
    display: block;
    left: calc(365px + 7vw);
    top: calc(285px - -21vh);

    & > div{
	    height: 100%;
	    display: inline-block;
	    vertical-align: top;
	    width: 130px;
	    width: calc(7.2vw + 46px);
	    margin: 0px;
    	transition: transform .2s ease;
    	-webkit-transition: transform .2s ease;
		transform: scale(1);

		&:hover{
	    	transition: transform .2s ease;
	    	-webkit-transition: transform .2s ease;
			transform: scale(1.1);			
		}
    }
}

.fancy-blue{
	background: #61e1ff;
}

.fancy-pink{
    background: #fb506e;
}

.fancy-yellow{
    background: #fdea5b;	
}

.fancy-green{
    background: #69ff69;	
}

.fancy-orange{
    background: #ea8d3a;	
}

.fancy-red{
    background: #ff3e3e;	
}

.fancy-purple{
    background: #d37bff;	
}

.fancy-navy{
    background: #7e7bff;	
}

.fancy-teal{
    background: #39f3c9;	
}
